<!DOCTYPE html>
<html>

    <head>
        <title>శోధన</title>
    </head>
	<h1><center>శోధన - గ్రామీణ సామజిక  ఆర్ధిక సర్వే </h1>

    <body><center><table align="center" >
<style>
table,th,td
{
border:0px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
th,td
{
text-align:left;
}
</style>



<tr>
  <th>Table No.</th>
  <th>Table Name</th>		
</tr>

<tr><td>1.</td> <td><a href="http://notes.swecha.org:7000/admin/household/base/add/">ప్రాధమిక సమాచారం </a><br /></td></tr>
	
<tr><td>2.</td>	<td><a href="http://notes.swecha.org:7000/admin/household/hhmembers/add/">కుటుంబ సభ్యులు- సాధరణ సమాచరం  </a><br /></td></tr>
<tr><td>3.</td>	<td><a href="http://notes.swecha.org:7000/admin/land/currentownership/add/">కుటుంబ అధినంలో ఉన్న స్వంత భూమి  </a><br /></td></tr>	
<tr><td>4.1.</td>	<td><a href="http://notes.swecha.org:7000/admin/land/landsold/add/">వ్యవసాయ భూములు అమ్మిన భూమి  </a><br /></td></tr>
<tr><td>4.2.</td>	<td><a href="http://notes.swecha.org:7000/admin/land/landbought/add/">వ్యవసాయ భూములు కొన్న  భూమి  </a><br /></td></tr>
<tr><td>5.a.</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/landtanent/add/">కౌలు రైతు అయితే  </a><br /></td></tr>
<tr><td>5.b.</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/landleaser/add/">కౌలు ఇస్తే  </a><br /></td></tr>
<tr><td>5.1.1</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/landleasedin/add/">కౌలుకు తిసుకున్నవారి నుండి సేకరించే సమాచారం  </a><br /></td></tr>
<tr><td>5.1.2</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/landleasedout/add/">కౌలుకు ఇచ్చినవారి నుండి సేకరించే సమాచారం  </a><br /></td></tr>
<tr><td>5.2.1</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/mortgagedin/add/">భూమిని తాకట్టు / కుదువ పెట్టినవారు  </a><br /></td></tr>
<tr><td>5.2.2</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/mortgagedout/add/">భూమిని తాకట్టు / కుదువ పెట్టించుకున్నవారు  </a><br /></td></tr>
<tr><td>5.3.1</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/sharerentin/add/">పాలుకు తీసుకున్న రైతు  </a><br /></td></tr>
<tr><td>5.3.2</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/sharerentout/add/">పాలుకు ఇచ్చిన రైతు  </a><br /></td></tr>
<tr><td>5.4</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/tenantproblems/add/">కౌలు రైతు సమస్యలు  </a><br /></td></tr>
<tr><td>5.5</td>	<td><a href="http://notes.swecha.org:7000/admin/landlease/interlinks/add/">మార్కెట్ బంధనాలు  </a><br /></td></tr>
<tr><td>6</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/productionsales/add/">గత సంవత్సరంలో ఉత్పతి, అమ్మకాలు, ఆదాయం  </a><br /></td></tr>
<tr><td>7</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/inputs/add/">ఉత్పాదకాల మీద ఖర్చు  </a><br /></td></tr>
<tr><td>8.A</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/specifiedproduction/add/">ఉత్పత్తి సాదనలు - యాజమాన్యం - సంపాదన  </a><br /></td></tr>
<tr><td>8.B</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/tubewells/add/">బోరు బావుల యాజమాన్యం  </a><br /></td></tr>
<tr><td>9</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/othercosts/add/">గత సంవత్సరం అయిన ఇతర ఖర్చులు  </a><br /></td></tr>
<tr><td>10.A</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/managerpayments/add/">నిర్వహకులు , దిర్ఘకాల వేతన కార్మికులు - ఖర్చు  </a><br /></td></tr>
<tr><td>10.B</td>	<td><a href="http://notes.swecha.org:7000/admin/cropping/longtermworker/add/">పాలేరు  </a><br /></td></tr>
<tr><td>11.1 & 11.2</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/labourdays/add/">వ్యవసాయంలో కూలి ఖర్చులు  </a><br /></td></tr>
<tr><td>12.1</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/wages/add/">వ్యవసాయ కుటుంబం - కూలిపని - పనిదినాలు -కులిరేట్లు-సంపాదన  </a><br /></td></tr>
<tr><td>12.A.1</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/nonaglabour/add/">వ్యవసాయేతర పనులు -కూలిరేట్లు -సంపాదన  </a><br /></td></tr>
<tr><td>13</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/empfreedom/add/">పని చేసేందుకు స్వేఛ్చ  </a><br /></td></tr>
<tr><td>15</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/incomeother/add/">కుటుంబ  వ్యవసాయేతర ఆదాయాలు  </a><br /></td></tr>
<tr><td>16</td>	<td><a href="http://notes.swecha.org:7000/admin/labourwages/animalsource/add/">పశు సంపద - ఆదాయం  </a><br /></td></tr>
<tr><td>17</td>	<td><a href="http://notes.swecha.org:7000/admin/housing/houbase/add/">గృహ వసతి  </a><br /></td></tr>
<tr><td>18</td>	<td><a href="http://notes.swecha.org:7000/admin/housing/indebtedness/add/">పాత అప్పులు  </a><br /></td></tr>
<tr><td>18.B</td>	<td><a href="http://notes.swecha.org:7000/admin/housing/selfhelpgroups/add/">స్వయం సహాయక సంఘలలో సభ్యత్వం  </a><br /></td></tr>
<tr><td>19</td>	<td><a href="http://notes.swecha.org:7000/admin/housing/assets/add/">ఆస్థులు  </a><br /></td></tr>
<tr><td>20</td>	<td><a href="http://notes.swecha.org:7000/admin/housing/govtdistrib/add/">ప్రజా పంపిణి వ్యవస్థ  </a><br /></td></tr>
<tr><td>21.A</td>	<td><a href="http://notes.swecha.org:7000/admin/expenditure/expmonthly/add/">కుటుంబ ఖర్చు - నెలకు  </a><br /></td></tr>
<tr><td>21.B</td>	<td><a href="http://notes.swecha.org:7000/admin/expenditure/expeducation/add/">విద్యకయ్యే ఖర్చు - సంవత్సరానికి  </a><br /></td></tr>
<tr><td>21.C</td>	<td><a href="http://notes.swecha.org:7000/admin/expenditure/exphealth/add/">వైద్యానికి అయ్యే ఖర్చు - సంవత్సరానికి </a><br /></td></tr>
<tr><td>22.1</td>	<td><a href="http://notes.swecha.org:7000/admin/expenditure/migration/add/">వలసలు/పంపే డబ్బు / కారణాలు  </a><br /></td></tr>
<tr><td>23</td>	<td><a href="http://notes.swecha.org:7000/admin/expenditure/invistigators/add/">వ్యాఖ్యనాలు, ఎన్యుమరేటర్ల  గురించిన సమాచారం  </a><br /></td> </tr>


</table>
    </body>

</html>




